@import "~antd/dist/antd.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// :root {
//   --blue: #abbcd2;
//   --green: #6AE11E;
//   --purple: #961EE1;
//   --yellow: #EFED10;
// }

// .blue { background-color: var(--blue); }
// .green { background-color: var(--green); }
// .purple { background-color: var(--purple); }
// .yellow { background-color: var(--yellow); }

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #e2ded7;
}

* {
  box-sizing: border-box;
}
.ant-card-body h3 {
  font-weight: 700;
}

.ant-card-head-title {
  font-weight: 700;
}

.HeaderMain {
  border: 1px solid rgb(235, 237, 240);
  width: 100vw;
  height: 70px;
}

.mainLayout {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.mainHeader {
  background-color: white;
}



.card-about {
  background: #e2ded7;
  margin: 15px;
  width: 50vw;
  border-radius: 10px;
  text-align: left;

  transition: all 300ms ease-in;
}

.experiences-menu {
  margin: 5px;
  padding: 10px;
  float: "left";
  color: black;
  width: "10px";
}

.skeleton-NFTs {
  width: 512px;
  height: 512px;
}



// EXAMPLE SECTION
.card__directory--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-directory {
  background: #e2ded7;
  margin: 15px;
  // height: 21vh;
  min-height: 21vh;
  // width: 14vw;
  // width: calc(100%/4);
  width: 25%;
  border-radius: 10px;
  text-align: left;
  outline: none;

  transition: all 300ms ease;


}

.card-directory:nth-child(even) {
  background-color: #1F90FF;

  .ant-typography {
    color: white;
  }
}

.card-directory:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
  width: calc(25% + 30px);
}

.card-contact {
  background: #e2ded7;
  margin: 15px;
  height: 21vh;
  width: fit-content;
  border-radius: 10px;
  outline: none;
}

.card-contact:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

.card-skill {
  background: #e2ded7;
  margin: 15px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  outline: none;
}

.card-skill:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

.card-project {
  background: #e2ded7;
  margin: 15px;
  min-width: none;
  min-height: 200px;
  height: 100%;
  width: 20;
  border-radius: 10px;
  outline: none;
}

.card-project:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}




.experience-Tile {
  background: #e2ded7;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  outline: none;
  font-size: xxx-large;
}

.normal-Tile {
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}

.checkable-tag {
  background-color: gray;
  color: #e2ded7;

}

.date-tag {
  background-color: gray;
  color: #e2ded7;
  border-radius: 20px;
  width: 70px;
  text-align: center;

}

.description-card {
  background-color: gray;
  color: #e2ded7;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  outline: none;
}

.normal-button {
  background-color: gray;
  color: #e2ded7;
  border-radius: 10px;
  outline: none;
}

.normal-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

.normal-tag {
  background-color: gray;
  color: #e2ded7;
}


.nft__card-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 100%;
  height: 100%;
}

.nft__card-wrapper * {
  transition: all 900ms ease;
}


#nft__card-0 {
  position: absolute;
  top: 175px;
  left: 30px;
} 

#nft__card-1 {
  position: absolute;
  top: 30px;
  left: 400px;
}

#nft__card-2 {
  position: absolute;
  top: 300px;
  left: 700px;
}

#nft__card-3 {
  position: absolute;
  top: 10px;
  left: 1100px;
}


@media (max-width: 400px) {
  .ant-page-header-heading-sub-title{
    display: none;
  }
  .ant-page-header-heading {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .ant-page-header-heading-title {
    margin: 0 auto; 
  }

  .nft__card-wrapper {
    flex-direction: column;
  }
}




@media (max-width: 765px) {
  .headerSocialIcon {
    display: none;
  }

  
  .card__directory--wrapper {
    flex-direction: column;
  }
  
  .card-directory {
    width: 60vw !important;
  }

  .card-directory:hover {
    width: 70vw !important;
  }
}

@media (max-width: 1000px) {
  .card-about {
    width: 95%;
  }
}

@media (max-width: 1500px) {
  #nft__card-0 { position: relative; top: 0; left: 0; }
  #nft__card-1 { position: relative; top: 0; left: 0; } 
  #nft__card-2 { position: relative; top: 0; left: 0; } 
  #nft__card-3 { position: relative; top: 0; left: 0; }
}
