
.nftCardWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: horizontal;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    min-height: 100%;
    height: 100%;
    width: 100%;
  }
  


.nftCardWrapper * {
    transition: all 900ms ease;
  }

.nftCard {
    width: 250px;
    height: 375px;
    background: #e2ded7;
    margin-bottom: "24px";
}
  
//   #nftCard0 {
//     position: absolute;
//     top: 175px;
//     left: 30px;
//   } 
  
//   #nftCard1 {
//     position: absolute;
//     top: 30px;
//     left: 400px;
//   }
  
//   #nftCard2 {
//     position: absolute;
//     top: 300px;
//     left: 700px;
//   }
  
//   #nftCard3 {
//     position: absolute;
//     top: 10px;
//     left: 1100px;
//   }
  



  @media (max-width: 400px) {
    .nftCardWrapper {
      flex-direction: column;
    }
  }


//   @media (max-width: 1500px) {
//     #nftCard0 { position: relative; top: 0; left: 0; }
//     #nftCard1 { position: relative; top: 0; left: 0; } 
//     #nftCard2 { position: relative; top: 0; left: 0; } 
//     #nftCard3 { position: relative; top: 0; left: 0; }
//   }