
@media (max-width: 765px){
    .skillsWrapper {
        flex-direction: column;
    }

    .cardSkill{
        width: 100% !important;
    }
    .skillLink {
        width: 100% !important;
    }
}

.skillsWrapper{
    display: flex;
    align-items: center;
    flex-direction: horizontal;
    gap: 10px;
    flex-wrap: wrap;

}

.modalTitle {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.cardSkill {
    background: #e2ded7;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    outline: none;
  }

  
.cardSkill:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}
  
.skillLink {
    width: fit-content;
}